
<html>
  <head>
    <title>Captive Portal - Success</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sample.css')}}">
    <script>TypekitConfig={kitId:"hum1oye",scriptTimeout:1.5e3},function(){var a=document.getElementsByTagName("html")[0];a.className+=" wf-loading";var b=setTimeout(function(){a.className=a.className.replace(/(\s|^)wf-loading(\s|$)/g,""),a.className+=" wf-inactive"},TypekitConfig.scriptTimeout),c=document.createElement("script");c.src="//use.typekit.com/"+TypekitConfig.kitId+".js",c.type="text/javascript",c.async="true",c.onload=c.onreadystatechange=function(){var a=this.readyState;if(!a||a=="complete"||a=="loaded"){clearTimeout(b);try{Typekit.load(TypekitConfig)}catch(c){}}};var d=document.getElementsByTagName("script")[0];d.parentNode.insertBefore(c,d)}()</script>
    <script src="jquery.js"></script>

  </head>
  <body>
    <div id="masthead">
      <div id="masthead-content">
        <!--<img src="https://meraki.cisco.com/img/cisco-meraki.png"/>-->
      </div>
    </div>
    <div id="content">
      <h1>Login Success</h1>
      <p>Ya puede ingresar a la red WI-FI, continue <a href={{user_continue_url}}>para acceder a internet</a></p>

    </div>
  </body>
</html>

